@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<style>
    a.button5 {
        display: inline-block;
        color: #000;
        font-size: 12px;
        text-decoration: none;
        user-select: none;
        padding: 0 5px;
        outline: none;
        border-radius: 2px;
    }

        a.button5:before {
            display: inline-block;
            vertical-align: middle;
            line-height: 1; /* для больших картинок 0 */
            padding-right: 15px;
        }

        a.button5[data-instagram]:before {
            content: url(http://favicon.yandex.net/favicon/instagram.com);
        }

        a.button5[data-vk]:before {
            content: url(http://favicon.yandex.net/favicon/vk.com);
        }

        a.button5[data-Gmail]:before {
            content: url(http://favicon.yandex.net/favicon/gmail.com);
        }

        a.button5:hover {
            background: linear-gradient(#ececeb, #eaeaea);
            box-shadow: inset rgba(0,0,0,.5) 0 -1px 1px, inset rgba(0,0,0,.2) 0 1px, inset #fff 0 2px, rgba(0,0,0,.2) 0 1px 1px;
        }

        a.button5:active {
            background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
            box-shadow: inset rgba(0,0,0,.8) 0 1px 2px, inset rgba(0,0,0,.05) 0 -1px 0, #fff 0 1px 1px;
        }
</style>
<address>
    Ivan Evtyhovich<br />
    Student of GSTU named after P.O.Sykhogo<br />
    <abbr title="Phone">Phone:</abbr>
    +3754471570*1
</address>

<address>
    <strong>
        <a href="https://www.instagram.com/evtyhovich_ivan" class="button5" data-instagram>instagram</a>
        <a href="https://vk.com/lvan1" class="button5" data-vk>Vk</a>
        <a href="mailto:wertyaliti55@gmail.com" class="button5" data-Gmail>Gmail</a>
    </strong>
</address>
